.By {
    font-size: 70px;
    color: white;
}

body {
    background-image: url(Background.png);
    background-size: 100%;
}

.color {
    text-align: center;
    width:300px;
    height:40px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
    font-family: 'Oswald';
    color:black;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}