.Razzismo {
    font-size: 38px;
    color: white;
}

.Red {
    font-size: 40px;
}

body {
    background-image: url(images.jpg);
    background-size: 100%;
}

.SIZE {
    width: 1630;
    height: 900;
}